name: Tests
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  cargo-fmt:
    name: Cargo Fmt And Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v12
      - run: rm -rf ~/.cargo/bin
      - run: nix-shell --pure --run 'cargo fmt --all -- --check'
      - run: nix-shell --pure --run 'cargo clippy --all --all-features -- -D warnings'

  cargo-tests:
    name: Cargo Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v12
      - run: nix-shell --pure --run 'cargo build --all --all-features'
      - run: nix-shell --pure --run 'cargo test --all --all-features'
      - run: nix-shell --pure --run 'cargo doc --all --all-features'

  mdbook-tests:
    name: Book Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v12
      - run: nix-shell --pure --run 'mdbook build book'
      - run: nix-shell --pure --run 'mdbook test book'

  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v12
      - run: nix-build default.nix
      - run: nix-build tests/basic-test.nix
